*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.main-div{
    border-left: 125px solid #000;
    border-right: 125px solid #000;
}
.logo{
    margin-left: 125px;
    margin-top: 20px;
    width: 150px;
}
nav{
    display: flex;
}
.nav-items{
    
    display: flex;
    margin-left: 250px;
    margin-top: 30px;
}
.nav-item{
    margin-right: 30px;
    font-size: 15px;
    font-weight: 400;
}
.signin-btn{
    margin-left: 125px;
    width: 100px;
    height: 30px;
    margin-top: 25px;
    border-radius: 30px;
    background: linear-gradient(270deg, #d273d4 30% , #914fab 100% );
    color: #fff;
    z-index: 1;
    
}
.intro-section{
    display: flex;
}
.left-section{
    margin-top: 130px;
    margin-left: 100px;
    width: 30%;
}
.left-section h1{
    font-size: 65px;
    font-weight: 700;
    color: #5e5eb8;
}
.left-section h4{
    font-weight: 100;
    margin: 35px 0px;
    font-size: 15px;
    margin-right: 75px;
}
.learn-more-btn{
    width: 175px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(270deg, #d273d4 30% , #914fab 100% );
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
}
.imgs-div{
    background-image: url(../images/backcover.svg) ;
    background-repeat: no-repeat;
    position: relative;
    top: -75px;
    left: 106px;
    background-size: 700px;
   
}
body{
    overflow: hidden;
}
.vector-img ,.vector-dot{
    position: relative;
    top: 500px;
    right: 150px;
}
img[alt="intro-img"] {
    position: relative;
    left: -100px;
    width: 45vw;

}

